sm/bin/
sm/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
sm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
sm/obj/
sm/sm.csproj
sm/Properties/AssemblyInfo.cs
sm.v12.suo
sm/sm.csproj.user
sm/index.html
sm/js/app.js
sm.sln
